header {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.btn__home {
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}



.curso {
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categorias div {
    background: #ddd;
    padding: 4px 8px;
    border-radius: 5p;
    font-size: 12px;
}

.descricao {
    font-size: 14px;
}

.carga {
    font-weight: bold;
}

.btn {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    width: 190px;
    height: 32px;
    border: 1px solid black;
    background: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 30px;
}


header {
    background: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.btn__home {
    text-decoration: none;
    background: none;
    border: 30px;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 15px;
}


.curso {
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.titulo {
    font-size: 20px;
    font-weight: bold;

}

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categorias div {
    background: #ddd;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.descricao {
    font-size: 14px;
}

.carga {
    font-weight: bold;
}

.btn {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    background: rgb(255, 0, 0); color: #fff8f8;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 30px;
}

.btn-primario{
 
    background-color: white;
    color: rgb(255, 0, 0);
    border: 2px solid #e74c3c;
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    width: 190px;
    height: 32px;  
    border-radius: 20px;
   
   
}

.horario{
    display: flex;
gap: 6px;
}